#map{
  height:400px;
  width:600px;
  margin: auto;
  border: 3px solid black;
  box-sizing: content-box;
  max-width: none;
}

html {
  position: relative;
  height: 100%;
  min-height: 100%;
}

body {
  margin-bottom: 150px;
  height: 100%;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 125px;
  line-height: 20px;
  background-color: #f5f5f5;
}

h1 {
    color: #e040fb;
    text-shadow: 2px 2px 5px white;
}



