html, body {
   height:100%;
}

#body {
//   min-height:100%;
//   overflow:auto;
   padding-bottom: 35px; /* this needs to be bigger than footer height*/
}

#footer{
//  position: relative;
  color: white;
  background-color: #6b5b95;
  text-align: center;
  margin-top: -30px; /* negative value of footer height */
  height:30px;
  width: 100%;
}

#foot1{
  font-size:10px;
}

#foot2{
  font-size:10px;
}

//p {
//  margin-bottom: 0px;
//}
     
#map {
  height: 400px;
  width: 500px;
  margin: auto;
  border: 4px solid black;
}





    
