html, body {
   margin:0;
   padding:0;
   height:100%;
}

#maincontainer {
   min-height:100%;
   position:relative;
}

#footer{
  position:absolute;
  color: white;
  background-color: black;
  text-align: center;
  padding: 1px;
  //height:74px;   /* Height of the footer */
  width: 100%;
  bottom: 0;
}

p {
  margin-bottom: 0px;
}
     
#map {
  height:400px;
  width:600px;
  margin: auto;
  border: 3px solid black;
}





    
