{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
<!--<div style="margin-top: 75px;">-->
<div style="margin-top: 50px;">
    <h1>About</h1>
	<p>
		Flamingo Share is a web application for running a car share service made by 5 students from RMIT University for their Capstone project. The service offers flexible bookings and vehicles ranging from Economy, Luxury and SUV. Customers will first need to make an account via register and then they will be allowed to book.
	</p>
</div>
{% endblock %}
