{% extends 'base.html' %}
{% load static %}
{% block title %}Account{% endblock %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
        <div>
            
            <br>
            <div>
                <h1>Profile</h1>
                  <p>
                    Your profile information is displayed here.<br>
					First Name: {{user.first_name}}<br>
					Last Name: {{user.last_name}}<br>
					Email: {{user.email}}<br>
					<br>
					Registration Details<br><br>
					
					License Number: {{user.license_number}}<br>
					Country of Issue: {{user.country_of_issue}}<br>
					State: {{user.state}}<br>
					Issue Date: {{user.issue_date}}<br>
					Expiry Date: {{user.expiry_date}}<br>
                  </p>
                <h1>Your bookings</h1>
                {% if Bookings %}
                  <p>
                    {% for bookings in Bookings %}
                    Booking {{ bookings.booking_id }}: <a href="{{ bookings.get_absolute_url }}">{{ bookings.book_start_date }}, {{ bookings.start_time }}</a><br>
                    <br>
                    {% endfor %}
                  </p>
                {% else %}
                  <p>You have no bookings</p>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h1>You are not authorized to access this page.</h1>
    {% endif %}
</div>
{% endblock %}
