{% extends 'base.html' %}
{% load static %}

{% block title %}Account{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col">
        <div id="map" style="height: 400px;"></div>
      </div>

      <div class="col text-center" style="padding-top: 4%;">
      

          <div id="authname" style="padding-top: 4%;">
            {% if user.is_authenticated %}
              <div>Hello {{ user.username }}!</div>
            {% else %}
              <h3>Welcome!</h3>
              <div>You are not currently logged in.</div>
            {% endif %}
          </div>
          <br>
          <div> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum."
          </div>

      </div>
    </div>

  </div>
{% endblock %}
