{% extends 'base.html' %}
{% load static %}
{% block title %}Account{% endblock %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
        <div>
            <h1 class="col text-center">Hello {{ user.username }}!</h1>
            <br>
            <div>
                <h1>Profile</h1>
                  <p>
                    Your profile information is displayed here.
                  </p>
                <h1>Your bookings</h1>
                {% if Bookings %}
                  <p>
                    {% for bookings in Bookings %}
                    Booking {{ bookings.booking_id }}: <a href="{{ bookings.get_absolute_url }}">{{ bookings.book_start_date }}, {{ bookings.start_time }}</a><br>
                    <br>
                    {% endfor %}
                  </p>
                {% else %}
                  <p>You have no bookings</p>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h1>You are not authorized to access this page.</h1>
    {% endif %}
</div>
{% endblock %}
