<!DOCTYPE html>
{% load static %}

<html>

<head>
    <title>{% block title %}Index{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">




</head>

<body>
    <div class="container">

    <!-- navigation -->
    <div class="row align-items-start">
        <div class="col">
            <header>

              <div class="container">

                    <div class="text-center">
                        <h1 style="margin-bottom:20px;"><a href="{% url 'home' %}" style="text-decoration:none">
             	        <strong>Flamingo <span style="background-color: #ff3399; color: white; padding:10px">Sharing</span></strong></a></h1>
                    </div>

                    <nav class="navbar navbar-inverse navbar-expand-lg">
      			        <div class="container-fluid">

      				        <button type="button" class="navbar-toggle"  data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

              	          <!--   <a class="navbar-brand hidden-lg hidden-md hidden-sm" style="color: white;"> Menu </a> -->
              	             <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav">
                                    <li><a class="nav-item nav-link" style="color: white;" href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span></a>
                                    <li><a class="nav-item nav-link" style="color: white;" href="{% url 'map' %}">Book</a></li>
                                    <li><a class="nav-item nav-link" style="color: white;" href="#section2">Section 2</a></li>
                                    <li><a class="nav-item nav-link" style="color: white;" href="#section3">Section 3</a></li>
                                    {% if user.is_authenticated %}
                                    <li><a class="nav-item nav-link" style="color: white;" href="{% url 'logout' %}">Logout</a></li>
                                    <li><a class="nav-item nav-link" style="color: white;" href="{% url 'account' %}">{{ user.username }} <span class="glyphicon glyphicon-user"></span></a>
                                    {% else %}
                                    <li><a class="nav-item nav-link" style="color: white;" href="{% url 'login' %}">Login <span class="glyphicon glyphicon-user"></span></a>
                                    {% endif %}
                                </ul>
                            </div>
                     </div>
                    </nav>

            <!--    </div> -->

            </header>
        </div>
    </div>

    <!-- content -->
    <div class="row align-items-center">
        <div class="col">
            <div id="body">
                <div class="container" style="margin-top:30px">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="row align-items-end fixed-bottom">
        <div class="col">
            <div id="footer">
                <div id="foot1"> <a href="{% url 'admin:index' %}" style="color:pink;"> *Admin </a> <a href="{% url 'password_reset' %}" style="color:pink;"> *Lost password? </a> </div>
                <div id="foot2" style="color:white;">© 2018 Copyright: <a href="{% url 'home' %}" style="color:pink;"> Team Flamingo</a> </div>
            </div>
        </div>
    </div>
  </div>
    <!-- bootstrap javascript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- smooth scroll script. not working. disables page jump if enabled

</script>
    <script>
    // Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });
  </script>
-->
</body>

</html>
