<!DOCTYPE html>
{% load static %}
{% include 'messages.html' %}

<html>
<head>
    <title>{% block title %}Book{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script>
    window.onunload = refreshParent;
    function refreshParent() {
        window.opener.location.href = "{% url 'account' %}";
    }
    </script>
</head>

<div class="container">
  <h1>Thank you!</h1>
  <p>You may now close the window.</p>
  <br>
  <div class="col text-center">
  <input type="button" class="btn btn-warning" value="close" onclick="window.close();">
  </div>
</div>
