<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}Book{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<div class="container">
  <h1 class="col text-center">Book</h1>
    <form method="post">
      <p class="col text-center" style="color:hotpink;">Car {{ cars.car_name }}</p>
      {% csrf_token %}

      <!--<p>{{ form.as_p }}</p>-->

      <p><label for="id_car">Model: </label></p>
      <p>{{ form.car }}</p>

      <!--<select style="color:hotpink; display:none;" disabled required name="car" id="id_car">
        <option selected value="{{ cars.car_id }}">{{ cars.car_name }}</option>
      </select>--->

      <br>
      <p><label for="id_book_start_date">Start date: </label></p>
      <p><input type="date" name="book_start_date" id="id_book_start_date"></p>
      <br>
      <p><label for="id_book_end_date">End date: </label></p>
      <p><input type="date" name="book_end_date" id="id_book_end_date"></p>
      <br>
      <p><label for="id_start_time">Start time: </label></p>
      <p><input type="time" name="start_time" id="id_start_time"></p>
      <br>
      <p><label for="id_end_time">End time: </label></p>
      <p><input type="time" name="end_time" id="id_end_time"></p>

      <br>
      <button type="submit" class="btn btn-danger">Book</button>
    </form>
</div>
