{% extends 'base.html' %}
{% block title %}Create Booking{% endblock %}

{% block content %}
<div>
  {% if user.is_authenticated %}
    <h1>Book a car</h1>

    <form method="post">
        {% csrf_token %}
        <div style="color:#cccccc;">
        {{ form.as_p }}
        <p style="color: #cccccc;">Date and time format: 01/01/2018 10:20:30</p>
        </div>
        <br>
        <input type="submit" value="Book">
      </form>
  {% else %}
    <h1>Please log in to book a car</h1>
  {% endif %}
</div>
{% endblock %}
