{% extends 'base.html' %}
{% block title %}Booking {{ booking.booking_id }}{% endblock %}

{% block content %}
<div class="container">
  <h1>Booking {{ booking.booking_id }}</h1>

  <p>
    Customer: {{ booking.customer }}
    <br>
    Booking Date: {{ booking.book_start_date }}, {{ booking.start_time }}
    <br>
    Car: <a href="{{ booking.car.get_absolute_url }}">{{ booking.car }}</a><br>
    <br><br>
	
		<!-- Paypal button starts here -->
	<script src="https://www.paypalobjects.com/api/checkout.js"></script>

	<style>
		
		/* Media query for mobile viewport */
		@media screen and (max-width: 400px) {
			#paypal-button-container {
				width: 100%;
			}
		}
		
		/* Media query for desktop viewport */
		@media screen and (min-width: 400px) {
			#paypal-button-container {
				width: 250px;
				display: inline-block;
			}
		}
		
	</style>

	<div id="paypal-button-container"></div>

	<script>

		paypal.Button.render({
			
			// Set your environment

			env: 'sandbox', // sandbox | production

			// Specify the style of the button

			style: {
				label: 'checkout',  // checkout | credit | pay | buynow | generic
				size:  'responsive', // small | medium | large | responsive
				shape: 'pill',   // pill | rect
				color: 'gold'   // gold | blue | silver | black
			},

			// PayPal Client IDs - replace with your own
			// Create a PayPal app: https://developer.paypal.com/developer/applications/create

			client: {
				sandbox:    'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
				production: '<insert production client id>'
			},

			// Wait for the PayPal button to be clicked

			payment: function(data, actions) {
				return actions.payment.create({
					payment: {
						transactions: [
							{
								amount: { total: '10.00', currency: 'USD' }
							}
						]
					}
				});
			},

			// Wait for the payment to be authorized by the customer

			onAuthorize: function(data, actions) {
				return actions.payment.execute().then(function() {
					window.alert('Payment Complete!');
				});
			}
		
		}, '#paypal-button-container');

	</script>
	<!-- Paypal ends here -->


    
  </p>
</div>
{% endblock %}
