{% extends 'base.html' %}
{% load static %}
{% block title %}Car: {{ car.car_name }}{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ car.car_name }}</h1>

  <p>
    <img src="/static/img/{{ car.image }}" />
    <br>
    ID: {{ car.car_id }}
    <br>
    Description: {{ car.description }}
    <br>
    Price per day: {{ car.price }}
    <br>
    Lat: {{ car.lat }} Lng: {{ car.lng }}
    <br><br>
  </p>

  <div id="carmap"></div>

  <script>
    var map;

    function initMap() {
        var options = {
            zoom: 15,
            center: {lat:{{ car.lat }}, lng:{{ car.lng }}}
        }

        // New map //
        var map = new google.maps.Map(document.getElementById('carmap'), options);

        var car{{ car.car_id }} = {
            lat: {{ car.lat }},
            lng: {{ car.lng }}
        };

        var imagecar1 = '{% static 'img/eco2icon.png' %}'
        var imagecar2 = '{% static 'img/lux2icon.png' %}'
        var imagecar3 = '{% static 'img/suv2icon.png' %}'

        var markerc{{ car.car_id }} = new google.maps.Marker({
            position: car{{ car.car_id }},
            map: map,
            icon: imagecar{{ car.icon }},
        });
      }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?v=quarterly&key=AIzaSyCFqINDKm7Oa0_ldIEICdxDzDaMH6Ha-_8&callback=initMap"></script>

</div>
{% endblock %}
