<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}Delete Booking{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<div class="container">
  <h1 class="col text-center">Delete Booking</h1>
  <form method="post">
      {% csrf_token %}
      <p>Do you want to delete the booking "{{ Booking.start_date_time }}"?</p>
      <input type="submit" value="Confirm">
  </form>
</div>
