{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block navbar %}
    <li><a class="nav-item nav-link" style="color: white;" href="#section2">How to use</a></li>
{% endblock %}

{% block content %}
{% include 'messages.html' %}

<section id="HomeBooking">
    <div >
    {% if user.is_authenticated %}
        <h1>Welcome {{ user.username }}!</h1>
        <p>Here are available cars ready to hire.</p>
    </div>

    <div style="padding: 10px">
        <div id="map"></div>
        <script>
        var map, infoWindow;
        function initMap() {
            var options = {
                zoom:14,
                center:{lat:-37.8136,lng:144.9631}
            }

            // New map //
            var map = new google.maps.Map(document.getElementById('map'), options);
            infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation //
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                    },
                    function() {
                        handleLocationError(true, infoWindow, map.getCenter());
                    }
                );
            }
            else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }

            // Parking spot locations //
            var park1 = {
                lat: -37.813361,
                lng: 144.955694
            };
            var park2 = {
                lat: -37.809206,
                lng: 144.965309
            };
            var park3 = {
                lat: -37.811295,
                lng: 144.969483
            };
            var park4 = {
                lat: -37.817952,
                lng: 144.955743
            };
            var park5 = {
                lat: -37.807440,
                lng: 144.958671
            };
            var park6 = {
                lat: -37.817080,
                lng: 144.958337
            };
            var park7 = {
                lat: -37.806870,
                lng: 144.973861
            };

            // Car locations //
            var car1 = {
                lat: -37.813361,
                lng: 144.955694
            };
            var car2 = {
                lat: -37.809206,
                lng: 144.965309
            };
            var car3 = {
                lat: -37.811295,
                lng: 144.969483
            };
            var car4 = {
                lat: -37.817952,
                lng: 144.955743
            };
            var car5 = {
                lat: -37.807440,
                lng: 144.958671
            };
            var car6 = {
                lat: -37.817080,
                lng: 144.958337
            };
            var car7 = {
                lat: -37.806870,
                lng: 144.973861
            };

            // Marker icons //
            var imagepark = '{% static 'img/parkicon.png' %}'
            var imagecar1 = '{% static 'img/car1icon.png' %}'
            var imagecar2 = '{% static 'img/car2icon.png' %}'
            var imagecar3 = '{% static 'img/car3icon.png' %}'


            // Parking markers //
            var markerp1 = new google.maps.Marker({
                position: park1,
                map: map,
                icon: imagepark
            });

            var markerp2 = new google.maps.Marker({
                position: park2,
                map: map,
                icon: imagepark
            });

            var markerp3 = new google.maps.Marker({
                position: park3,
                map: map,
                icon: imagepark
            });

            var markerp4 = new google.maps.Marker({
                position: park4,
                map: map,
                icon: imagepark
            });

            var markerp5 = new google.maps.Marker({
                position: park5,
                map: map,
                icon: imagepark
            });

            var markerp6 = new google.maps.Marker({
                position: park6,
                map: map,
                icon: imagepark
            });

            var markerp7 = new google.maps.Marker({
                position: park7,
                map: map,
                icon: imagepark
            });

            // Car markers //
            var markerc1 = new google.maps.Marker({
                position: car1,
                map: map,
                icon: imagecar1,
                zIndex: google.maps.Marker.MAX_ZINDEX + 1
            });

            var markerc2 = new google.maps.Marker({
                position: car2,
                map: map,
                icon: imagecar1,
                zIndex: google.maps.Marker.MAX_ZINDEX + 1
            });

            var markerc3 = new google.maps.Marker({
                position: car3,
                map: map,
                icon: imagecar1,
                zIndex: google.maps.Marker.MAX_ZINDEX + 1
            });

            var markerc4 = new google.maps.Marker({
                position: car4,
                map: map,
                icon: imagecar2,
                zIndex: google.maps.Marker.MAX_ZINDEX + 1
            });

            var markerc5 = new google.maps.Marker({
                position: car5,
                map: map,
                icon: imagecar2,
                zIndex: google.maps.Marker.MAX_ZINDEX + 1
            });

            var markerc6 = new google.maps.Marker({
                position: car6,
                map: map,
                icon: imagecar2,
                zIndex: google.maps.Marker.MAX_ZINDEX + 1
            });

            var markerc7 = new google.maps.Marker({
                position: car7,
                map: map,
                icon: imagecar3,
                zIndex: google.maps.Marker.MAX_ZINDEX + 1
            });

            // Popups //
            var contentc1 = '<div id="content">Economy car #1</div>';
            var infowindow1 = new google.maps.InfoWindow({
            content: contentc1
            });
            google.maps.event.addListener(markerc1, 'click', function() {
            infowindow1.open(map, markerc1);
            });

            var contentc2 = '<div id="content">Economy car #2</div>';
            var infowindow2 = new google.maps.InfoWindow({
            content: contentc2
            });
            google.maps.event.addListener(markerc2, 'click', function() {
                infowindow2.open(map, markerc2);
            });

            var contentc3 = '<div id="content">Economy car #3</div>';
            var infowindow3 = new google.maps.InfoWindow({
                content: contentc3
            });
            google.maps.event.addListener(markerc3, 'click', function() {
                infowindow3.open(map, markerc3);
            });

            var contentc4 = '<div id="content">Luxury car #1</div>';
            var infowindow4 = new google.maps.InfoWindow({
                content: contentc4
            });
            google.maps.event.addListener(markerc4, 'click', function() {
                infowindow4.open(map, markerc4);
            });

            var contentc5 = '<div id="content">Luxury car #2</div>';
            var infowindow5 = new google.maps.InfoWindow({
                content: contentc5
            });
            google.maps.event.addListener(markerc5, 'click', function() {
                infowindow5.open(map, markerc5);
            });

            var contentc6 = '<div id="content">Luxury car #3</div>';
            var infowindow6 = new google.maps.InfoWindow({
                content: contentc6
            });
            google.maps.event.addListener(markerc6, 'click', function() {
                infowindow6.open(map, markerc6);
            });

            var contentc7 = '<div id="content">SVU #1</div>';
            var infowindow7 = new google.maps.InfoWindow({
                content: contentc7
            });
            google.maps.event.addListener(markerc7, 'click', function() {
                infowindow7.open(map, markerc7);
            });
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?v=quarterly&key=AIzaSyCFqINDKm7Oa0_ldIEICdxDzDaMH6Ha-_8&callback=initMap"></script>

        <!-- not logged in -->
    {% else %}
    <div   id= "homeCover" >



       <div  id= "test" >
         <p id="title">FLAMINGO SHARING</p>

         <a  href="{% url 'signup' %}" ><button type="button" class="btn btn-primary btn-lg " id= "BookButton">Book</button></a>
         <br>
         <a  href="{% url 'login' %}"><button type="button" class="btn btn-secondary btn-lg " id= "signButton">Sign In</button></a>
       </div>
     </div>
    {% endif %}
    </div>

<div class="btn-group">
  <button class="button">Economy</button>
  <button class="button">Luxury</button>
  <button class="button">SUV</button>

</div>


    <p style="clear:both"></p>

</section>

<section id="section2" style="padding: 30px; color: white;" >
        <h1>How To Use</h1>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum."
    <a href="{% url 'howtouse' %}">How to use</a><p>
</section>
{% endblock %}
