{% load static %}
<nav class="navbar navbar-inverse navbar-expand-lg navbar-fixed-top">
    <div class="container-fluid">
        <div class = "navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          <a class="navbar-brand"  href="{% url 'home' %}">Flamingo Sharing</a>
          <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
          </button>-->
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                   <li><a style="color: white;" href="{% url 'prices' %}">Prices</a></li>
                   <li><a style="color: white;" href="{% url 'about' %}">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >
                {% if user.is_authenticated %}
                <li><a style="color: white;" href="{% url 'logout' %}">Logout</a></li>
                <li><a style="color: white;" href="{% url 'account' %}">{{ user.username }} <span class="glyphicon glyphicon-user"></span></a>
                {% else %}
                <li><a style="color: white;" href="{% url 'login' %}">Login <span class="glyphicon glyphicon-user"></span></a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
