{% extends 'base.html' %}
{% load static %}
{% block title %}Prices{% endblock %}

{% block content %}
<div>
  <div class="container">
    <h1>Prices</h1>

    <h2>Short term (1-24 hours)</h2>
    <table>
      <tr>
        <th>Economy</th>
        <th>Luxury</th>
        <th>SUV</th>
      </tr>
      <tr>
        <th>$5/h</th>
        <th>$20/h</th>
        <th>$10/h</th>
      </tr>
    </table>

    <h2>Long term (1-30 days)</h2>
    <table>
      <tr>
        <th>Economy</th>
        <th>Luxury</th>
        <th>SUV</th>
      </tr>
      <tr>
        <th>$40/d</th>
        <th>$160/d</th>
        <th>$80/d</th>
      </tr>
    </table>
    
  </div>
</div>
{% endblock %}
