{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<div>
    <h1>Sign up</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        <p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="150" autofocus required id="id_username"></p>
        <p><label for="id_password1">Password:</label> <input type="password" name="password1" required id="id_password1"></p>
        <br>
        <p><label for="id_password2">Password confirmation:</label> <input type="password" name="password2" required id="id_password2"> 
        <br>
        <p>Enter the same password as before, for verification.</p>
        <br>
        <button type="submit">Sign up</button>
    </form>
</div>

<div>
    <br>
    <p>Already have an account? <a href="{% url 'login' %}">LOG IN</a> here.</p>
</div>
{% endblock %}
