{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="col text-center" style="margin-top: 75px;">
    <h1>Login</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        <p><label for="id_username">Username:</label> <input type="text" name="username" autofocus required id="id_username"></p>
        <p><label for="id_password">Password:</label> <input type="password" name="password" required id="id_password"></p>
        <br>
        <button type="submit">Login</button>
    </form>
    <br>
    <p>New user? <a href="{% url 'signup' %}">SIGN UP</a> for an account.</p>
</div>
{% endblock %}
